html, body {
	font: italic small-caps bold 12px/1.6 Arial, sans-serif;
	line-height: 1.15;
	width: 99%;
	background-color: #e1e1e1;
	margin: 0;
	padding: 0;
	text-align: center;
	'border: solid 1px blue;
}
div {
	padding: 0px;
	width: 100%;
}
#rodzic {
	float: center;
	width: 80%;
	position:relative;
	margin-left: auto;
	margin-right: auto;
	'border: dotted 1px green;
}
#naglowek{
	float: left;
	position: relative;
	padding-top: 50px;
	width: 100%;
	'border: dotted 3px yellow;
}
#menu{
	background-color: #e1e1e1;
	position: fixed;
	width: 79%;
	padding-top: -2px;
	z-index: 1;
	'border: solid 1px red;
}
.nav{
	text-align: left;
	font-size: 1.2em;
	font-weight: bold;
    list-style:none;
    margin:0;
    padding: 10px;
	border-bottom: 1px solid grey;
}
.nav li{
    display:inline;
	border-left: 2px solid white;
	padding-left: 25px;
	margin-right: 15px;
}
.nav li:first-child {
    border:none;
}
.nav a{
    display:inline-block;
    padding:10px;
	color: white;
	text-decoration: none;
}
#artykul{
	float: left;
	width: 100%;
	position:relative;
	padding-top: 10px;
	'border: dotted 3px black;
}

p {
	margin: 0 0 1.5em;
	padding: 0;	
}
footer{
	width: 80%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	border-top: solid 1px grey;
	color: red;
}
h1{
	text-align: center;
	font-size: 2em;
	margin: 1em 0;
}